/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
jpush.log
/storage/logs/*.log
/storage/logs/*.pid
/public/storage/images/cache/*
/public/storage/images/raw/*
/public/storage/images/tmp/*
!/public/storage/images/cache/.gitkeep
!/public/storage/images/raw/.gitkeep
!/public/storage/images/tmp/.gitkeep
/storage/upload/*
!/storage/upload/.gitkeep