/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
jpush.log
/storage/logs/*.log
/storage/logs/*.pid
/public/storage/images/cache/*
/public/storage/images/raw/*
/public/storage/images/tmp/*
/public/storage/images/watermark/*
!/public/storage/images/cache/.gitkeep
!/public/storage/images/raw/.gitkeep
!/public/storage/images/tmp/.gitkeep
!/public/storage/images/watermark/.gitkeep
/storage/upload/*
!/storage/upload/.gitkeep
/storage/oauth/*
!/storage/oauth/.gitkeep
!/storage/oauth/google-cloud.example.json
node_modules
/storage/oauth-private.key
/storage/oauth-public.key