nav {
	background-color: #ea5662
}

.brick-red {
	background-color: #ea5662
}

.pagination li.active {
	background-color: #ea5662
}

.card p {
	line-height: 190%
}

.cover-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #555;
	z-index: 100;
	opacity: .6
}

.cover {
	position: fixed;
	left: 32%;
	width: 36%;
	top: 22%;
	z-index: 110;
	max-height: 70vh;
	overflow-y: scroll
}

.cover .inner {
	float: left;
	margin-left: 5%;
	margin-top: 3%;
	width: 90%
}

#upok {
	margin-top: 4em;
	display: none
}

.up-box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
	background-color: #f9f9f9
}

.up-box i {
	font-size: 80px;
	margin-left: auto;
	margin-right: auto
}

.up-box p {
	margin-bottom: 20px
}

.description {
	line-height: 180%
}

.br {
	white-space: pre-wrap
}

.msg {
	border-style: solid;
	border-width: 1px;
	border-color: #ea5662;
	background-color: #fff;
	line-height: 1em;
	padding: 12px;
	margin-bottom: 15px;
	border-radius: 5px;
	color: #ea5662
}

.tag {
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #ea5662;
	background-color: #fff;
	line-height: 1em;
	padding: 12px;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	color: #ea5662
}

select {
	color: #ea5662
}