nav {
	background-color: #EA5662;
}

.brick-red {
	background-color: #EA5662;
}

.pagination li.active {
	background-color: #EA5662;
}

.card p {
	line-height: 190%
}

.cover-background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #555;
	z-index: 100;
	opacity: 0.6;
}

.cover {
	position: fixed;
	left: 32%;
	width: 36%;
	top: 22%;
	z-index: 110;
	max-height: 70vh;
	overflow-y: scroll;
}

.cover .inner {
	float: left;
	margin-left: 5%;
	margin-top: 3%;
	width: 90%;
}

#upok {
	margin-top: 4em;
	display: none;
}

.up-box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	/*width:94.6%;*/
	width: 100%;
	-moz-box-sizing: border-box;
	/*Firefox3.5+*/
	-webkit-box-sizing: border-box;
	/*Safari3.2+*/
	-o-box-sizing: border-box;
	/*Opera9.6*/
	-ms-box-sizing: border-box;
	/*IE8*/
	box-sizing: border-box;
	left: 0%;
	background-color: #F9F9F9;
}

.up-box i {
	font-size: 80px;
	margin-left: auto;
	margin-right: auto;
}

.up-box p {
	margin-bottom: 20px;
}

.description {
	line-height: 180%;
}